<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="primaryNav">
    <a class="navbar-brand">
        PledgeIndia
    </a>
    <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target="#primaryNav_nav" aria-controls="primaryNav_nav" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="primaryNav_nav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
        </ul>
    </div>
</nav>